/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #152642;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mail {
  width: 300px;
  height: 200px;
  background: #ff8964;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  transform-style: preserve-3d;
}

.mail:before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid rgb(255, 145, 34);
  border-top: 100px solid transparent;
  border-bottom: 100px solid rgb(255, 145, 34);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 5;
}

.mail:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-left: 150px solid #FFA611;
  border-right: 150px solid transparent;
  border-top: 100px solid transparent;
  border-bottom: 100px solid #FFA611;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 4;
}

.cover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-top: 100px solid #FFCB2B;
  border-bottom: 100px solid transparent;
  z-index: 5;
  transform-origin: top;
  transform: rotateX(0deg);
  transition: all 1s 1s ease;
}

.letter{
  position: absolute;
  z-index: 3;
  top: 0;
  left: 10px;
  background: #dedede;
  width: 280px;
  height: 180px;
  border-radius: 20px;
  transition: all 1s ease;
}

.letter h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #798992;
  font-weight: 900;
}

.mail:hover .cover:before{
  transform: rotateX(180deg);
  transition: all 1s ease;
  z-index: 0;
}

.mail:hover .letter {
  top: -70px;
  transition: all 1s 1s ease;
  z-index: 10;
}
/* .mail:hover .Link {
  top: -150px;
  transition: all 1s 1s ease;
  z-index: 10 !important;
}
.mail:hover .letter Link{
  z-index: 15 !important;
} */

.box {
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
}

.box span {
  position: absolute;
  box-sizing: border-box;
  border: 2px solid #798992;
  border-radius: 50%;
  animation: animates 3s linear infinite;
  animation-delay: calc(-0.6s * (var(--i)));
}

.box .span:hover {
  z-index: 11;
  cursor: pointer;

}

@keyframes animates {
  0%{
    width: 0;
    height: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    width: 50px;
    height: 50px;
    opacity: 1;
  }
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('./images/mosques-silhouettes_1017-2840.jpg'); 
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 400px;
  /* z-index: 10; */
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .5), 0 0 0 15px rgba(2, 35, 54, 1);
}

ul {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100px;
  animation: rotate 5s linear infinite;
}

ul.cr1 {
  top: 30%;
  left: 20%;
}
ul.cr2 {
  top: 25%;
  left: 70%;
}
ul.cr3 {
  top: 70%;
  left: 25%;
}
ul.cr4 {
  top: 65%;
  left: 73%;
}

ul li{
  position: absolute;
  width: 100px;
  height: 2px;
  background: #fff;
  list-style: none;
}

ul li:nth-child(1) {
  transform: rotate(0deg);
}
ul li:nth-child(2) {
  transform: rotate(90deg);
}
ul li:nth-child(3) {
  transform: rotate(45deg);
}
ul li:nth-child(4) {
  transform: rotate(-45deg);
}

ul li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #003444;
  transform: scaleX(.5);
  animation: animate 1s linear infinite;
}
h2 {
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
  top: 5%;
  text-shadow: 0 10px 20px rgba(185, 184, 184, 0.5);
  color: #fff;
  font-size: 3em;
  width: 100%;
  font-family: 'Parisienne', cursive;

}
h3 {
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
  bottom: 8%;
  text-shadow: 0 10px 20px rgba(185, 184, 184, 0.5);
  color: #fff;
  font-size: 3em;
  width: 100%;
  font-family: 'Parisienne', cursive;
}

p {
  margin: 0;
  padding: 0;
  /* text-align: center; */
  position: absolute;
  bottom: 0%;
  left: 68%;
  text-shadow: 0 10px 20px rgba(185, 184, 184, 0.5);
  color: #fff;
  font-size: 1em;
  /* width: 100%; */
  font-family: sans-serif;
  font-style: italic;
  /* line-height: 0; */
}

@keyframes rotate {
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0%
  {
    transform: scaleX(0);
  }
  50%
  {
    transform: scaleX(1);
  }
  100%
  {
    transform: scaleX(1);
  }
}

@media screen and (min-width : 0px) and (max-width: 760px) {
  .center {
    width: 250px;
    height: 250px;
  }

  h2{
    font-size: 2em;
    margin: 5px;
    padding: 2px;
  }

  h3{
    font-size: 2em;
    /* margin: 1px; */
    padding: 2px;
  }

  p {
    /* margin: 0%; */
    /* padding: 0%; */
    font-size: 0.5em;
    bottom: 0%;
    left: 0%;
    /* width: auto; */
  }

  ul li{
    position: absolute;
    width: 40px;
    height: 2px;
    background: #fff;
    list-style: none;
  }
  ul.cr1 {
    top: 30%;
    left: 10%;
  }
  ul.cr2 {
    top: 25%;
    left: 60%;
  }
  ul.cr3 {
    top: 70%;
    left: 5%;
  }
  ul.cr4 {
    top: 70%;
    left: 65%;
  }
  
}